<div class="main-container">
  <div class="side-bar">
    <%= render "homes/side_bar" %>
  </div>
  <div class="main-contents">
    <div class="lesson-register">
      <h1>レッスン開始時間編集</h1>
      <div class="register">
      <%= form_with(model: @lesson, local: true) do |form| %>

        <div class="time">
          <%= form.label :start_time %>
          <%= form.datetime_select :start_time %>
        </div>

        <div class="submit">
          <%= form.submit %>
        </div>

      <% end %>
      
      </div>
    </div>
  </div>
</div>